
<!DOCTYPE html> 
<html> 
<head> 
    <title>Form</title> 
</head> 
<body>
<form action="/book" method="POST"> 
    <label>Book Name : </label> 
    <input type="text" placeholder="Name"><br><br> 
    <label>Author : </label> 
    <input type="text" placeholder="Author"><br><br> 
    <label>No Of pages : </label> 
    <input type="number" placeholder="Pages"><br><br> 
    <label>Publisher : </label> 
    <input type="text" placeholder="Publisher"><br><br> 
    <button>Submit</button> 
</form> 
</body>
</html>